# local OS and sensitive files
.DS_Store
*.pem

test.js
tmp.js
example.js
__*.js

node_modules/
examples/
executables/
tmp/

# local env files
.env
.venv/
env/
*.pem
__pycache__/

# typescript
*.tsbuildinfo
next-env.d.ts

# test artifacts
*.warc

# misc
.vscode


